<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      throwExceptions="true">

  <targets>

    <!-- ezt használja a SimpleLog eljárás -->
    <target name="file" xsi:type="File"
             fileName="${basedir}/Logs/${logger}.log"
             archiveFileName="${basedir}/Logs/Archives/${logger}.{#}.zip"
             enableArchiveFileCompression="true"
             archiveOldFileOnStartup="false"
             deleteOldFileOnStartup="false"
             autoFlush="true"
             archiveEvery="Day"
             archiveNumbering="Rolling"
             maxArchiveFiles="90"
             concurrentWrites="true"
             keepFileOpen="true"
             encoding="iso-8859-2">
      <layout xsi:type="JsonLayout" includeAllProperties="true" excludeProperties="Comma-separated list (string)">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=tostring}" />
      </layout>
    </target>
    
    
  </targets>

  <rules>
    
    <!-- Ezt használja a SimpleLog eljárás, mert a log elkérésekor nincs külön név megadva -->
    <logger name="*" minlevel="Info" writeTo="file" />
  </rules>
</nlog>
